<template>
  <!-- In der Parent Component müssen wir mit .value noch auspacken, im part dann nichtmehr -->
  <!-- myProps.recipe.value -->
  <!--{{ myProps.recipe.value }}-->
  <!--<p>{{ searchedRecipe.value}}</p>-->
  <v-sheet color="transparent" width="500" class="mx-auto">
    <div class="inner-wrapper">

      <!-- Beschreibung -->
      <!--<v-form ref="form" @submit.prevent="">
        <v-row>
          <v-label>Rezeptname</v-label>
        </v-row>
        <v-row>
          <v-text-field color="#735084" v-model="recipename" >{{ myProps.recipe.value.name }}</v-text-field>
        </v-row>
        <v-row>
          <v-label>Beschreibung</v-label>
        </v-row>
        <v-row>
          <v-textarea color="#735084" v-model="introduction" ></v-textarea>
        </v-row>
        <v-row>
          <v-btn type="submit" class="mt-3 mb-3 btn-dark">
            <span class="btn-dark-text">Änderungen Bestätigen</span>
          </v-btn>
        </v-row>
      </v-form>-->
      <v-row class="maintain-row">
        <div class="" v-if="!maintainDescribtion">
          <v-btn type="submit" class="mt-3 mb-6 btn-dark btn-long" @click="maintainDescribtion = !maintainDescribtion">
            <span class="btn-dark-text">Beschreibung ändern</span>
          </v-btn>
        </div>
        <MaintainDescription v-if="maintainDescribtion" :recipe="recipeInfo.value" @update="updateDescription" />
      </v-row>

      <v-divider></v-divider>

      <v-row class="maintain-row">
        <div class="" v-if="!maintainIngredients">
          <v-btn type="submit" class="mt-6 mb-6 btn-dark btn-long" @click="maintainIngredients = !maintainIngredients">
            <span class="btn-dark-text">Zutaten ändern</span>
          </v-btn>
        </div>
        <MaintainIngredients class="" v-if="maintainIngredients" :recipe="recipeInfo.value" @update="maintainIngredients = !maintainIngredients" />
      </v-row>

      <v-divider />

      <v-row class="maintain-row">
        <div class="" v-if="!maintainSteps">
          <v-btn type="submit" class="mt-6 mb-6 btn-dark btn-long" @click="maintainSteps = !maintainSteps">
            <span class="btn-dark-text">Zubereitung ändern</span>
          </v-btn>
        </div>
        <MaintainSteps v-if="maintainSteps" :recipe="recipeInfo.value" @update="maintainSteps = !maintainSteps"/>
      </v-row>
    </div>
  </v-sheet>



</template>

<script setup>
import { useRoute, useRouter } from 'vue-router';
import { ref, onMounted, computed } from 'vue';
import { useRedundancyStore } from '@/store/redundancy';
import { useRecipesStore } from '@/store/recipes';
import { useIngredientsStore } from '@/store/ingredients';

import MaintainDescription from '@/components/Recipe/parts/MaintainDescription.vue'
import MaintainIngredients from '@/components/Recipe/parts/MaintainIngredients.vue'
import MaintainSteps from '@/components/Recipe/parts/MaintainSteps.vue'

const router = useRouter();
const route = ref();

const recipeId = ref("")

const redundancyStore = useRedundancyStore();
const recipesStore = useRecipesStore();
const ingredientsStore = useIngredientsStore();

const recipeInfo = ref()

//const myProps = defineProps(['recipe'])

// Zwischenspeicher fürs Rezept, Rezept soll erst geändert werden wenner im Perent submit hitet
const updatedRecipe = ref({});

const maintainDescribtion = ref(false);
const maintainIngredients = ref(false);
const maintainSteps = ref(false);

let allRecipesInfo = computed(() => redundancyStore.allRecipesInfo);


onMounted(async() => {
  route.value = useRoute();
  recipeId.value = route.value.params.recipeId;
  await redundancyStore.refreshDataLoad();
  //console.log(allRecipesInfo.value);
  recipeInfo.value = await allRecipesInfo.value.find((element) => {
    //console.log("element", element.value);
    return element.value.recipeId.toString() === recipeId.value;
  });
  //console.log(recipeInfo.value);





/*  // Prop bug beheben?
  try {
    updatedRecipe.value = myProps.recipe.value;
    myProps.recipe.value.name = myProps.recipe.value.name;
  }catch(e){
    // Props konnten nicht geladen werden
    //console.error(e);
    updatedRecipe.value = redundancyStore.allRecipesInfo.find((element) => element.value.recipeId.toString() === route.params.recipeId)
    myProps.recipe = updatedRecipe.value;
  }




  redundancyStore.allRecipesInfo.find((element) => element.value.recipeId.toString() === route.params.recipeId)
  */
})

//const searchedRecipe = ref({});
/*
const recipename = ref('');
const introduction = ref('');

const searchedRecipe = ref();
searchedRecipe.value = computed(() => {
  searchedId.value = route.params.recipeId;
  redundancyStore.allRecipesInfo.forEach((recipe) => {
    if (recipe.value.recipeId.toString() === searchedId.value) {
      //searchedRecipe.value = recipe;
      //console.log(recipe.value.name);
      return recipe.value; //TODO ask: use return for a break?
    }
    //console.log(recipe.value.recipeId);
    //console.log(searchedId.value);
  })
})*/

/*
onMounted(() => {
  searchedId.value = route.params.recipeId;
  redundancyStore.allRecipesInfo.forEach((recipe) => {
    if (recipe.value.recipeId.toString() === searchedId.value) {
      searchedRecipe.value = recipe;
      //console.log("got it");
      return; //TODO ask: use return for a break?
    }
    //console.log(recipe.value.recipeId);
    //console.log(searchedId.value);
  })
  recipename.value = searchedRecipe.value.name;
  introduction.value = searchedRecipe.value.introduction;
})*/

// UPDATE PARTS

async function updateDescription(obj) {
  let doChange = false;

  if (obj.name !== recipeInfo.value.value.name) {
    recipeInfo.value.value.name = obj.name;
    doChange = true;
  }
  if (obj.introduction !== recipeInfo.value.value.introduction) {
    recipeInfo.value.value.introduction = obj.introduction;
    doChange = true;
  }
  if(doChange){
    //console.log("a");
    //console.log(recipeId.value);
    //console.log(recipeInfo.value.value);
    await recipesStore.changeRecipe(recipeId.value, recipeInfo.value.value);
    //console.log("b");
    await ingredientsStore.axiosSyncAllIngredients();
    await recipesStore.axiosSyncRecipes();
    await redundancyStore.refreshDataLoad();
  }
  maintainDescribtion.value = false;
}

maintainDescribtion.value = false;

</script>



