<template>
  <v-sheet color="transparent" width="500" class="mx-auto">

    <div class="inner-wrapper">
      <v-form @submit.prevent="submitRecipe" ref="form">
        <!--<div class="d-flex flex-row"></div>-->

        <v-alert v-if="inputWrong" class="mb-4" type="error" title="Achtung" text="Bitte füllen Sie alle Textbereiche aus und fügen Sie Ihrem Rezept mindestens eine Zutat und einen Schritt hinzu."></v-alert>

        <v-text-field color="#735084" v-model="recipename" label="Rezeptname" required></v-text-field>
        <v-spacer></v-spacer>
        <v-textarea color="#735084" v-model="introduction" label="Beschreibung" required></v-textarea>
        <v-divider></v-divider>
        <br />

        <div class="" v-for="ingredient in ingredientsRecipe">
          <v-text-field color="#735084" readonly>
            {{ ingredient.name }} - {{ ingredient.amount }} - {{ ingredient.unit }}
          </v-text-field>
        </div>

        <!-- soll dynamisch generiert werden -->
        <form @submit.prevent="addIngredient">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row">
              <v-text-field color="#735084" v-model="ingredient" label="Zutat" required></v-text-field>
              <v-spacer></v-spacer>
              <v-text-field color="#735084" v-model="amount" type="number" label="Menge in" required></v-text-field>
            </div>
            <v-text-field color="#735084" v-model="unit" type="text" label="Maßeinheit z.B. Messerspitze, Prise, Gramm"
              required></v-text-field>
          </div>
          <v-btn type="submit" class="mt-3 mb-3 btn-dark">
            <span class="btn-dark-text">Zutat hinzufügen</span>
          </v-btn>
        </form>
        <v-divider></v-divider>
        <br />

        <div class="" v-for="step in stepsRecipe">
          <v-text-field color="#735084" readonly>
            {{ step.description }} - {{ step.duration }} Minuten.
          </v-text-field>
        </div>
        <!-- soll dynamisch generiert werden -->
        <form @submit.prevent="addStep">
          <div class="d-flex flex-row">
            <v-textarea color="#735084" v-model="description" label="Zubereitungsanweisung" required></v-textarea>
            <v-spacer></v-spacer>
            <v-text-field color="#735084" type="number" v-model="duration" label="Dauer in Minuten"
              required></v-text-field>
          </div>
          <v-btn type="submit" class="mt-3 mb-3 btn-dark">
            <span class="btn-dark-text">Schritt hinzufügen</span>
          </v-btn>
        </form>
        <v-divider></v-divider>

        <div class=" btn-wrap"> <!--  d-flex flex-column -->
          <v-spacer></v-spacer>
          <v-btn type="submit" id="btnRegisterMain" class="mt-4 btn-dark">
            <span class="btn-dark-text">Rezept speichern</span>
          </v-btn>
        </div>
      </v-form>
    </div>
  </v-sheet>
</template>

<script setup>
import { useRouter } from 'vue-router';
import { ref } from 'vue';
import { useIngredientsStore } from '@/store/ingredients'
import { useRecipesStore } from '@/store/recipes'

const router = useRouter();

const ingredientsStore = useIngredientsStore();
const recipesStore = useRecipesStore();

const recipename = ref('');
const introduction = ref('');

const ingredient = ref('');
const amount = ref(0);
const unit = ref('');

const description = ref('');
const duration = ref(0);

let ingredientChecker = false;
let ingredientId;

let inputWrong = ref(false);

//const ingredientsThis = ref([]);

//! Zwischenspeicher um sie dann alle zu übergeben
// Für alle ingredients - id: ingredientsRecipe.value.ingredientId
const ingredientsRecipe = ref([]);
// Für alle Steps
const stepsRecipe = ref([]);





// functions

async function addIngredient() {
  if (ingredient.value.length !== 0 && amount.value > 0 && unit.value.length !== 0) {

    let searched = { name: ingredient.value, unit: unit.value, amount: amount.value };
    let found = ingredientsStore.allIngredients.find((elem) => elem.name === searched.name && elem.unit === searched.unit);
    if (found) {
      //ingredientChecker = true; // optional
      // TODO axios get all ingredients -> foreach if element.name && .unit = searched -> speichern diese id
      searched = { ingredientId: found.ingredientId, name: found.name, unit: found.unit, amount: searched.amount }
      ingredientsRecipe.value.push(searched);
      // muss anschließend beim erstellen des rezeptes abgespeichert werden

    } else {
      //ingredientsStore.allIngredients.push({searched});

      //! axios.post api/ingredients -> speichern die id vom response bzw wie oben noch einmal durchsuchen und speichern

      //? neue ingredient anlegen
      let found = { name: searched.name, unit: searched.unit };

      // wird im backend erstellt und wir mit sich selber und seiner neuen id überschrieben
      let temp = await ingredientsStore.axiosCreateIngredient(found);
      //ingredientsStore.axiosSyncAllIngredients();
      //console.log(temp); //

      searched = { ingredientId: temp.ingredientId, name: searched.name, unit: searched.unit, amount: searched.amount }

      // lokaler speicher:
      ingredientsRecipe.value.push({ ingredientId: searched.ingredientId, name: searched.name, unit: searched.unit, amount: searched.amount });
      // globaler Speicher:
      await ingredientsStore.axiosSyncAllIngredients();
    }

  }
  /*ingredientsRecipe.value.forEach(element => {
    //console.log(element);
  });*/
}

async function addStep() {
  if (description.value.length > 0 && duration.value > 0) {
    stepsRecipe.value.push({ duration: duration.value, description: description.value })
    //console.log(description.value + " " + duration.value);
  } else {
    //console.log(description.value + " " + duration.value);
  }
}

async function submitRecipe() {
  if (recipename.value.length < 1 || ingredientsRecipe.value.length < 1 || stepsRecipe.value.length < 1) {
    inputWrong.value = true;
  } else {
    inputWrong.value = false;
    const obj = {
      name: recipename.value,
      introduction: introduction.value,
      steps: stepsRecipe.value,
      ingredients: ingredientsRecipe.value
    }
    await recipesStore.axiosCreateNewRecipe(obj);
    router.push('/');
  }
}


</script>

<style scoped >

</style>
