/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );


$bg-hover: #B191C1;
$main: #89609E;
$secondary: #735084;
$card-grey: #DBDBDB;


html,
body {
  background-color: $bg-hover;
}

.v-app {
  // wenn v-app verwendet wird
  background-color: $bg-hover;
}

.form-text {
  color: $secondary;
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
}

.btn-dark {
  background-color: $secondary;
  border-radius: 16px;
  max-width: 50%;
  min-width: 50%;
}

.btn-card{
  min-width: 25%;
  max-width: 40%;
}


.btn-dark-text {
  color: $bg-hover;
}

.system-bar {
  background-color: $bg-hover;
}

.my-bg-main{  // bg-main ist bereits vergeben
  background-color: $main;
  color: $card-grey;
}

.my-bg-secondary{
  background-color: $secondary!important; // important ist notwendig zum überschreiben
  color: $card-grey;
}

.new-card-btn{
  min-width: 100%;
  max-width: 100%;
  background-color: $secondary;
}

.inner-wrapper {
  margin-top: 30%;
  margin-bottom: 30%;
}

.btn-rework{
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
}

.btn-dark:hover{
  background-color: $main;
}

.btn-row{
  display: flex;
  justify-content: space-around;
}

// drawer overwrite
.v-navigation-drawer__content{
  background-color: $secondary; //? Damit der drawer ganz nach unten geht und die farbe annimmt 
  color: $card-grey;             //! <- um schrift zu individualisieren
}

.flex-align{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


// card notes
.card-basic{
  margin: 1%;
  background-color: $card-grey;
  //max-width: 300px;
  //max-width: 25vw;
}

.card-content{
  margin-top: 0.5%; // in scrum board its -0.5% here we need +0.5
}

.btn-long{
  min-width: 100%;
  max-width: 100%;
}

.btn-clock-nine{
  min-width: 75%;
  max-width: 75%;
}


.maintain-row{
  display: flex;
  justify-content: center;
}

// individuals

#btnLogin {
  margin-left: -15%;
}

#btnRegister {
  margin-right: -15%;
}

#card-area-main{
// 90vh = 90% des bildschirms // eigentlich ist vh höhe und vw die breite aber vh regelt in diesem fall beides
  height: 90vh; 
}


.flex-center{
  display: flex;
  justify-content: center;
}

.link:hover {
  color: $bg-hover;
}

.my-link {
  color: $bg-hover;
  text-decoration: none;
}
#navbar {
  background-color: $secondary!important;
  
}

nav{  // der rechte strich vom drawer
  background-color: $bg-hover!important;
}



//! RECIPE special

//? Recipe card
.recipe-divider{
  margin-top: 3%;
  margin-bottom: 3%;
}
