<template>
  <v-sheet color="transparent" width="500" class="mx-auto">
    <div class="inner-wrapper">
      <v-form @submit.prevent="submitChanges">
        <v-textarea label="Beschreibung" v-model="newDescription"></v-textarea>
        <v-text-field label="Dauer" type="number" v-model="newDuration"></v-text-field>
        <v-row class="mt-2">
          <v-btn type="button" class="btn-dark btn-card" @click="goBack">
            <span class="btn-dark-text">Abbrechen</span>
          </v-btn>
          <v-spacer />
          <v-btn type="submit" class="btn-dark btn-card">
            <span class="btn-dark-text">Bestätigen</span>
          </v-btn>
        </v-row>
      </v-form>
    </div>
  </v-sheet>
</template>

<script setup>
import { useRoute, useRouter } from 'vue-router';
import { ref, onMounted, computed } from 'vue';
import { useRedundancyStore } from '@/store/redundancy';
import { useIngredientsStore } from '@/store/ingredients';
import { useRecipesStore } from '@/store/recipes';


const route = ref();

const router = useRouter();

const recipeId = ref(0);
const stepId = ref(0);

const redundancyStore = useRedundancyStore();
const recipesStore = useRecipesStore();

const newDescription = ref('');
const newDuration = ref('');

onMounted(async () => {
  route.value = useRoute();
  recipeId.value = route.value.params.recipeId;

  const searchedRecipe = await recipesStore.getSpecificRecipe(recipeId.value);
  stepId.value = route.value.params.stepId;
  //const searchedStep = searchedRecipe.steps.find((elem) => elem.value.stepId == stepId.value);

  searchedRecipe.steps.forEach(element => {
    //console.log(element.stepId);
    if (element.stepId.toString() === stepId.value) {
      newDescription.value = element.description;
      newDuration.value = element.duration;
    }
  });
})

async function submitChanges(){
  //console.log("Submit Changes has been hit");
  await recipesStore.changeExistingStep(stepId.value, {
    duration: newDuration.value,
    description: newDescription.value
  });
  await recipesStore.axiosSyncRecipes();
  await redundancyStore.refreshDataLoad();
  goBack();
}

function goBack(){
  router.push('/maintain/' + recipeId.value)
}




</script>




