<template>
  <!--<RecipeCard />-->

  <v-row> <!-- 12 spalten, wenn small dann 6 spalten wenn mittelgroß 4 spalten -->
    <v-col cols="12" sm="6" md="4" v-for="recipe in redundancyStore.allRecipesInfo" class="all-recipes">
      <RecipeCard :recipe="recipe" />
    </v-col>
  </v-row>

</template>

<script setup>
import RecipeCard from '../components/Home/RecipeCard.vue'
import { useRecipesStore } from '@/store/recipes'
import { useIngredientsStore } from '@/store/ingredients'
import { useRedundancyStore } from '@/store/redundancy'
import { onMounted, ref, computed } from 'vue';

const redundancyStore = useRedundancyStore();

onMounted(() => {
  redundancyStore.refreshDataLoad();
})




</script>
