<template>
  <v-sheet color="transparent" width="500" class="mx-auto">
    <div class="inner-wrapper">
      <v-form @submit.prevent="submitChanges">
        <v-text-field label="Name" v-model="newName"></v-text-field>
        <v-text-field label="Anzahl" type="number" v-model="newAmount"></v-text-field>
        <v-text-field label="Einheit" v-model="newUnit"></v-text-field>
        <v-row class="mt-2">
          <v-btn type="button" class="btn-dark btn-card" @click="goBack">
            <span class="btn-dark-text">Abbrechen</span>
          </v-btn>
          <v-spacer />
          <v-btn type="submit" class="btn-dark btn-card">
            <span class="btn-dark-text">Bestätigen</span>
          </v-btn>
        </v-row>
      </v-form>
    </div>
  </v-sheet>
</template>

<script setup>

import { useRoute, useRouter } from 'vue-router';
import { ref, onMounted, computed } from 'vue';
import { useRedundancyStore } from '@/store/redundancy';
import { useIngredientsStore } from '@/store/ingredients';
import { useRecipesStore } from '@/store/recipes';

const route = ref();

const router = useRouter();

const recipeId = ref(0);
const ingredientId = ref(0);

const redundancyStore = useRedundancyStore();
const recipesStore = useRecipesStore();
const ingredientsStore = useIngredientsStore();

const searchedIngredient = ref({
  ingredientId: 0,
  amount: 0,
  name: "",
  unit: ""
});


const newName = ref("");
const newAmount = ref(0);
const newUnit = ref("");



onMounted(async () => {
  route.value = useRoute();
  recipeId.value = route.value.params.recipeId;
  ingredientId.value = route.value.params.ingredientId;

  const searchedRecipe = await recipesStore.getSpecificRecipe(recipeId.value);

  //searchedRecipe.ingredients.find((element) => element.ingredientId === ingredientId.value);

  searchedRecipe.ingredients.forEach(ingredient => {
    if (ingredient.ingredientId.toString() === ingredientId.value) {
      searchedIngredient.value.ingredientId = ingredient.ingredientId;
      searchedIngredient.value.amount = ingredient.amount;
    }
  });

  let temp = await ingredientsStore.getSpecificIngredient(ingredientId.value);// TODO
  searchedIngredient.value.name = temp.name;
  searchedIngredient.value.unit = temp.unit;

  // OMG es funktioniert
  newName.value = searchedIngredient.value.name;
  newAmount.value = searchedIngredient.value.amount;
  newUnit.value = searchedIngredient.value.unit;

  //console.log(recipeId + "  " + ingredientId);
  //const searchedRecipe = redundancyStore.allRecipesInfo.find((element) => element.recipeId === recipeId);
  //const searchedIngredient = searchedRecipe.ingredients.find((element) => element.ingredientId === ingredientId);

  //const searchedRecipe = redundancyStore.allRecipesInfo.find((element) => element.recipeId === recipeId.value);
  //console.log(searchedRecipe);
  //thisIngredient.value = searchedRecipe.ingredients.find((element) => element.ingredientId === ingredientId.value);



})


async function goBack() {
  //await redundancyStore.refreshDataLoad();
  router.push('/maintain/' + recipeId.value)

}

async function submitChanges() {
  //console.log(newName.value + " new\nold " + searchedIngredient.value.name);  // works
  // wenn sich die eingabe verändert hat
  let found;
  //console.log(newName.value + "\n" + searchedIngredient.value.name);
  //console.log(newUnit.value + "\n" + searchedIngredient.value.unit);
  if (newName.value !== searchedIngredient.value.name || newUnit.value !== searchedIngredient.value.unit) {
    found = ingredientsStore.allIngredients.find((element) => element.value.name === newName.value && element.value.unit === newUnit.value);
    //console.log(found); // undef wenn nicht gefunden
    if (found) { // eine neue Ingredient die bereits existiert
      await recipesStore.deleteIngredientFromRecipe(recipeId.value, ingredientId.value);
      await recipesStore.addExistingIngredientToRecipe(recipeId.value, found.value.ingredientId, { amount: newAmount.value });
    } else {      // eine die nicht existiert
      await recipesStore.deleteIngredientFromRecipe(recipeId.value, ingredientId.value);
      found = await ingredientsStore.axiosCreateIngredient({ name: newName.value, unit: newUnit.value });
      //console.log("ANANAS", found);
      await recipesStore.addExistingIngredientToRecipe(recipeId.value, found.ingredientId, { amount: newAmount.value });
    }
  }

  if (newAmount.value !== searchedIngredient.value.amount) {
    await recipesStore.changeIngredientInRecipe(recipeId.value, found.ingredientId, { amount: newAmount.value })
  }
  await ingredientsStore.axiosSyncAllIngredients();
  await recipesStore.axiosSyncRecipes();
  await redundancyStore.refreshDataLoad();
  router.push('/maintain/' + recipeId.value)


}


</script>

<style scoped>

</style>

