<template>
  <!-- Leider geht es nur mit dieser Schreibweise :() -->
  <!-- :recipe="redundancyStore.allRecipesInfo.find((element) => element.value.recipeId.toString() === route.params.recipeId)" -->
  <MaintainRecipe  />
</template>

<script setup>
import MaintainRecipe from '@/components/Recipe/MaintainRecipe.vue'
/**
import { useRoute, useRouter } from 'vue-router';
import { ref, onMounted, computed } from 'vue';
import { useRedundancyStore } from '@/store/redundancy';

const redundancyStore = useRedundancyStore();

const route = useRoute();

const searchedRecipe = ref({})

const searchedId = ref(0);
/*
onMounted(() => {
  searchedId.value = route.params.recipeId;
  redundancyStore.allRecipesInfo.forEach((recipe) => {
    if (recipe.value.recipeId.toString() === searchedId.value) {
      searchedRecipe.value = recipe.value;
      //console.log("got it");
      //return; //TODO ask: use return for a break?
    }
    //console.log(recipe.value.recipeId);
    //console.log(searchedId.value);
  })
  //recipename.value = searchedRecipe.value.name;
  //introduction.value = searchedRecipe.value.introduction;
})

*/



</script>

<style scoped>

</style>


