<template>
  <!--<CardTemplate class="card-content" :subtitle="subtitle" :text="text" />-->

  <v-card class="card-basic card-content">
    <v-spacer></v-spacer>

    <v-card-title>
      {{ myProps.recipe.value.name }}
    </v-card-title>


    <v-card-text>

      {{ myProps.recipe.value.introduction }}

    </v-card-text>


    <v-card-actions>
      <v-btn color="#735084" variant="text" @click="show = !show">
        Rezept:
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'" @click="show = !show"></v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn @click="showIngr = !showIngr" color="#735084" variant="text">
            Zutaten:
          </v-btn>

          <v-spacer></v-spacer>

          <v-btn :icon="showIngr ? 'mdi-chevron-up' : 'mdi-chevron-down'" @click="showIngr = !showIngr"></v-btn>

        </v-card-actions>
        <v-card-text v-if="showIngr" class="recipe-ingredients">
          <v-list v-for="ingredient in myProps.recipe.value.ingredients" class="recipe-ingredients-list">
            <!-- <v-list-subheader>Zutaten:</v-list-subheader> -->
            <v-list-item class="recipe-content">
              <div class="ingredient-name">Zutat: <span> {{ ingredient.name }}</span></div>
              <div class="ingredient-unit">Menge: <span>{{ ingredient.amount }} {{ ingredient.unit }}</span></div>

            </v-list-item>
          </v-list>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn @click="showSteps = !showSteps" color="#735084" variant="text">
            Anweisungen:
          </v-btn>

          <v-spacer></v-spacer>

          <v-btn :icon="showSteps ? 'mdi-chevron-up' : 'mdi-chevron-down'" @click="showSteps = !showSteps"></v-btn>

        </v-card-actions>
        <v-card-text v-if="showSteps" class="recipe-steps">
          <v-list v-for="step in myProps.recipe.value.steps" class="recipe-steps-list">
            <v-list-item class="recipe-content">
              <div class="step-description">Beschreibung: <span>{{ step.description }}</span></div>
              <div class="step-duratio">Dauer in Minuten: <span>{{ step.duration }}</span></div>
            </v-list-item>
          </v-list>
        </v-card-text>

        <v-row>
          <v-divider class="recipe-divider" />
        </v-row>

        <v-row class="btn-row">
          <v-btn class="btn-dark btn-card btn-rework" @click="goMaintain">
            <v-icon icon="mdi-note-edit-outline"></v-icon>
          </v-btn>

          <v-btn class="btn-dark btn-card btn-rework" @click="delBtnHit = !delBtnHit">
            <v-icon icon="mdi-trash-can-outline"></v-icon>
          </v-btn>
        </v-row>


      </div>
    </v-expand-transition>
  </v-card>

  <v-snackbar v-model="delBtnHit" multi-line>
    <div v-if="!isDeleting">Wollen Sie dieses Rezept: {{ myProps.recipe.value.name }}<br> wirklich löschen?</div>
    <div v-if="isDeleting">
      <v-row>
        <v-spacer></v-spacer>
        <p>Ihr Rezept wird in kürze gelöscht</p>
        <v-spacer></v-spacer>
        <v-progress-circular indeterminate color="#89609E" :width="3"></v-progress-circular>
        <v-spacer></v-spacer>
      </v-row>
    </div>
    <template v-if="!isDeleting" v-slot:actions>
      <v-col>
        <v-row>
          <v-btn color="green" variant="text" @click="deleteMe">
            Löschen
          </v-btn>
        </v-row>

        <v-row>
          <v-btn color="red" variant="text" @click="delBtnHit = false">
            Abbrechen
          </v-btn>
        </v-row>
      </v-col>
    </template>
  </v-snackbar>


</template>

<script setup>
import { ref, computed, onMounted } from 'vue'
import { useIngredientsStore } from '@/store/ingredients'
import { useRecipesStore } from '@/store/recipes'
import { useRedundancyStore } from '@/store/redundancy'
import { useRouter } from 'vue-router';

//

const recipesStore = useRecipesStore();
const redundancyStore = useRedundancyStore();

const router = useRouter();

const myProps = defineProps(['recipe']) // Zugriff über: myProps.recipe -> myProps.recipe.name

const delBtnHit = ref(false);
const isDeleting = ref(false);

const showIngr = ref(true);
const showSteps = ref(true);

const show = ref(false)

onMounted(async () => {
  //console.log("FREEZE");
  //console.log(myProps.recipe);
})

async function deleteMe() {
  isDeleting.value = !isDeleting.value;

  //console.log(delBtnHit.value);
  await recipesStore.axiosDeleteSpecificRecipe(myProps.recipe.value.recipeId);
  await redundancyStore.refreshDataLoad();
}

function goMaintain(){
  router.push('maintain/' + myProps.recipe.value.recipeId);
  //console.log(myProps.recipe.value.recipeId);
}


</script>

<style scoped>

</style>
