<template>
  <div>
    <v-toolbar id="navbar" dark prominent>
      <v-spacer></v-spacer>

      <RouterLink class="my-link" to="/">
        <v-app-bar-nav-icon><Logo /></v-app-bar-nav-icon>
      </RouterLink>


      <v-spacer></v-spacer>

      <v-btn>
        <RouterLink class="my-link" to="/">Home</RouterLink>
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn>
        <RouterLink class="my-link" to="/newRecipe"><v-icon icon="mdi-plus"></v-icon> Rezept</RouterLink>
      </v-btn>
<!--
      <v-btn>
        <RouterLink class="my-link" to="/login">Login</RouterLink>
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn>
        <RouterLink class="my-link" to="/register">Register</RouterLink>
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn>
        <RouterLink class="my-link" to="/main">Main</RouterLink>
      </v-btn>
-->
      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-export</v-icon>
      </v-btn>
    </v-toolbar>
  </div>
</template>

<script setup>
import Logo from '@/components/Logo.vue'

</script>

<style scoped>

</style>

