<template>
  <!-- Für die Parts entpacke ich es -->
  <!-- myProps.recipe -->
  <v-form ref="form" @submit.prevent="emitUpdate">
    <v-row>
      <v-label>Rezeptname</v-label>
    </v-row>
    <v-row>
      <v-text-field color="#735084" v-model="recipename"></v-text-field>
    </v-row>
    <v-row>
      <v-label>Beschreibung</v-label>
    </v-row>
    <v-row>
      <v-textarea color="#735084" v-model="introduction"></v-textarea>
    </v-row>
    <v-row>
      <v-btn type="submit" class="mt-3 mb-10 btn-dark btn-long">
        <span class="btn-dark-text">Änderungen Bestätigen</span>
      </v-btn>
    </v-row>
  </v-form>
</template>

<script setup>
import { useRoute, useRouter } from 'vue-router';
import { ref, onMounted, computed } from 'vue';
import { useRedundancyStore } from '@/store/redundancy';
import { useRecipesStore } from '@/store/recipes';


const router = useRouter();
const route = useRoute();

const redundancyStore = useRedundancyStore();

const myProps = defineProps(['recipe']);
const emit = defineEmits(['update']);

const introduction = ref(myProps.recipe.introduction);
const recipename = ref(myProps.recipe.name);

function emitUpdate(){
  emit('update', {
    name: recipename.value,
    introduction: introduction.value
  })
}


</script>
