<template>
  <div class="flex-center flex-align">
    <v-row class="mt-8 mb-5 btn-long" v-for="step in myProps.recipe.steps">
      <v-col>
        <v-row class="flex-center">
          <v-text-field readonly><p>{{ step.description }}</p></v-text-field>
        </v-row>
        <v-row class="flex-center">
          <v-text-field block type="number" readonly>{{ step.duration }} Minuten</v-text-field>
        </v-row>
        <v-row class="flex-center">
          <v-btn class="mt-1 mb-1 btn-dark btn-long" @click="goMaintain(step)">
            <span class="btn-dark-text">bearbeiten</span><!-- Wie bei ingredients auf nächste seite -->
          </v-btn>
        </v-row>
        <v-row class="flex-center">
          <v-btn class="mt-1 mb-1 btn-dark btn-long" @click="deleteMe(step)">
            <span class="btn-dark-text"> löschen</span><!-- Wie bei ingredients -->
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
  </div>
  <v-divider color="transparent" />

  <v-form class="mt-12 mb-5" v-if="addingNewStep" @submit.prevent="updateRecipe">
    <v-textarea color="#735084"  v-model="newDescription" label="Anweisung:"></v-textarea>
    <v-spacer />
    <v-text-field color="#735084" type="number" v-model="newDuration" label="Dauer in Minuten"></v-text-field>
    <v-btn type="submit" class=" mb-5 btn-dark btn-long">
      <span class="btn-dark-text">Schritt hinzufügen</span>
    </v-btn>
  </v-form>

  <v-btn @click="addingNewStep = !addingNewStep" class=" mb-1 mt-8 btn-dark btn-clock-nine">
    <span v-if="!addingNewStep" class="btn-dark-text">Zubereitungsschritt hinzufügen</span>
    <span v-if="addingNewStep" class="btn-dark-text">Abbrechen</span>
  </v-btn>

  <v-btn class="mt-6 mb-8 btn-dark btn-long" @click="emitUpdate">
    <span class="btn-dark-text">Zubereitungsansicht beenden</span>
  </v-btn>



</template>

<script setup>
import { useRoute, useRouter } from 'vue-router';
import { ref, onMounted, computed } from 'vue';
import { useRedundancyStore } from '@/store/redundancy';
import { useIngredientsStore } from '@/store/ingredients';
import { useRecipesStore } from '@/store/recipes';


const route = ref();

const router = useRouter();

const recipeId = ref(0);

const redundancyStore = useRedundancyStore();
const recipesStore = useRecipesStore();

const myProps = defineProps(['recipe'])
const emit = defineEmits(['update'])

const addingNewStep = ref(false);

const newDuration = ref(0);
const newDescription = ref('');

const obj = ref({});


async function updateRecipe(){
  //console.log(newDescription.value);

  recipesStore.allRecipes.forEach(element => {
    //console.log(element);
    if (element.recipeId.toString() === recipeId.value){
      //console.log("Got it");
      //console.log(element.recipeId);
      let newSteps = element.steps;
      newSteps.push({ duration: newDuration, description: newDescription})

      obj.value = {
        name: element.name,
        introduction: element.introduction,
        ingredients: element.ingredients,
        steps: newSteps
      }

    }
  });

  //console.log(found);
  //console.log(elem.value.recipeId);
  await recipesStore.changeRecipe(recipeId.value, obj.value);
  await recipesStore.axiosSyncRecipes();
  await redundancyStore.refreshDataLoad();
}

function emitUpdate() {
  emit('update')
}



function goMaintain(step){
  router.push(recipeId.value + '/steps/' + step.stepId)
}


onMounted(() => {
  route.value = useRoute();
  recipeId.value = route.value.params.recipeId;


})

async function deleteMe(step){
  //console.log(step.stepId);
  await recipesStore.deleteStep(step.stepId);
  await recipesStore.axiosSyncRecipes();
  await redundancyStore.refreshDataLoad();
}



</script>

