<template>
  <!-- Für die Parts entpacke ich es -->
  <!-- myProps.recipe -->
  <div class="">
    <v-row class="mt-8 mb-5 " v-for="ingredient in myProps.recipe.ingredients">
      <v-col class="">
        <v-form @submit.prevent="maintainIngredient(ingredient)">
          <v-row>
            <v-text-field class="ingredientName">{{ ingredient.name }}</v-text-field>
          </v-row><v-row>
            <v-spacer />
          </v-row><v-row>
            <v-spacer />
            <v-text-field class="ingredientAmount">{{ ingredient.amount }}</v-text-field>
            <v-spacer />
            <v-text-field class="ingredientUnit">{{ ingredient.unit }}</v-text-field>
            <v-spacer />
          </v-row><v-row>
            <v-spacer />
          </v-row><v-row>
            <v-btn type="submit" class="mt-1 mb-1 btn-dark btn-long">
              <span class="btn-dark-text">Zutat bearbeiten</span>
            </v-btn>
          </v-row><v-row>
            <v-btn type="button" class="mt-1 mb-10 btn-dark btn-long" @click="pushDeleteMe(ingredient)">
              <span class="btn-dark-text">Zutat löschen</span>
            </v-btn>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </div>

  <v-divider class="mb-5" color="transparent" />

  <v-form v-if="newIngredient" @submit.prevent="submitNewIngr">
    <v-text-field color="#735084" v-model="newIngrName" label="Name"></v-text-field>
    <v-spacer />
    <v-text-field color="#735084" type="number" v-model="newIngrAmount" label="Anzahl"></v-text-field>
    <v-spacer />
    <v-text-field color="#735084" v-model="newIngrUnit" label="Einheit"></v-text-field>
    <v-divider color="transparent" />

    <v-btn type="submit" class=" mb-8 btn-dark btn-long">
      <span class="btn-dark-text">Zutat hinzufügen</span>
    </v-btn>
  </v-form>
  <v-btn class=" mb-5 mt-8 btn-dark btn-clock-nine" @click="newIngredient = !newIngredient">
    <span v-if="!newIngredient" class="btn-dark-text">Zutat hinzufügen</span>
    <span v-if="newIngredient" class="btn-dark-text">Abbrechen</span>
  </v-btn>

  <v-btn class="mt-1 mb-8 btn-dark btn-long" @click="emitUpdate">
    <span class="btn-dark-text">Zutatenansicht beenden</span>
  </v-btn>

  <v-snackbar v-model="delBtnHit">
    <div v-if="!isDeleting">Wollen Sie diese Zutat {{ newIngrName }}<br> wirklich löschen?</div>
    <div v-if="isDeleting">
      <v-row>
        <v-spacer></v-spacer>
        <p>Diese Zutat wird in kürze gelöscht</p>
        <v-spacer></v-spacer>
        <v-progress-circular indeterminate color="#89609E" :width="3"></v-progress-circular>
        <v-spacer></v-spacer>
      </v-row>
    </div>
    <template v-if="!isDeleting" v-slot:actions>
      <v-col>
        <v-row>
          <v-btn color="green" variant="text" @click="deleteMe">
            Löschen
          </v-btn>
        </v-row>

        <v-row>
          <v-btn color="red" variant="text" @click="delBtnHit = false">
            Abbrechen
          </v-btn>
        </v-row>
      </v-col>
    </template>
  </v-snackbar>

</template>

<script setup>
import { useRoute, useRouter } from 'vue-router';
import { ref, onMounted, computed } from 'vue';
import { useRedundancyStore } from '@/store/redundancy';
import { useIngredientsStore } from '@/store/ingredients';
import { useRecipesStore } from '@/store/recipes';


const router = useRouter();
const route = useRoute();

const redundancyStore = useRedundancyStore();
const ingredientsStore = useIngredientsStore();
const recipesStore = useRecipesStore();

const myProps = defineProps(['recipe']);
const emit = defineEmits(['update', 'delete']);

//const introduction = ref(myProps.recipe.introduction);
//const recipename = ref(myProps.recipe.name);

const newIngredient = ref(false);

const newIngrName = ref('');
const newIngrAmount = ref(0);
const newIngrUnit = ref('');



function emitUpdate() {
  emit('update')
}

const isDeleting = ref(false);
const delBtnHit = ref(false);
const tempObj = ref({});


function pushDeleteMe(ingredient) {
  tempObj.value = ingredient;
  delBtnHit.value = true;
}

async function deleteMe() {
  isDeleting.value = true;
  let ingredient = tempObj.value;
  const index = myProps.recipe.ingredients.indexOf(ingredient);
  //ingredientsStore.deleteIngredient(ingredient.ingredientId); // löschen // geht nicht 409
  //myProps.recipe.ingredients.splice(index, 1); // anzeige manipulieren
  await recipesStore.deleteIngredientFromRecipe(myProps.recipe.recipeId, ingredient.ingredientId);
  await redundancyStore.refreshDataLoad();
  delBtnHit.value = false;
  isDeleting.value = false;
}

async function submitNewIngr() {
  newIngredient.value = !newIngredient.value;

  let ingrs = myProps.recipe.ingredients;

  if (newIngrName.value.length !== 0 && newIngrAmount.value > 0 && newIngrUnit.value.length !== 0) {
    let searched = { name: newIngrName.value, amount: newIngrAmount.value, unit: newIngrUnit.value };
    let found = ingredientsStore.allIngredients.find((elem) => elem.name === searched.name && elem.unit === searched.unit);
    if (found) {
      // gesucht -> gefunden  @parship hier könnte Ihre Werbung stehen!
      searched = { ingredientId: found.ingredientId, name: found.name, unit: found.unit, amount: searched.amount }
      //adden existing ingr + amount

      //await recipesStore.changeRecipe();

      //? debug 400
      //ingrs.push({ ingredientId: temp.ingredientId, amount: searched.amount })
      /*await recipesStore.changeRecipe(myProps.recipe.recipeId, { // funktioniert
        name: myProps.recipe.name,
        introduction: myProps.recipe.introduction,
        steps: myProps.recipe.steps,
        ingredients: ingrs
      });*/
      //await recipesStore.axiosSyncRecipes();

      await recipesStore.addExistingIngredientToRecipe(myProps.recipe.recipeId, searched.ingredientId, { amount: searched.amount });

      await redundancyStore.refreshDataLoad();
    } else {
      // vorbereitung
      let found = { name: searched.name, unit: searched.unit };
      // create
      // erstelle neue ingr
      let temp = await ingredientsStore.axiosCreateIngredient(found);
      // vorbereitung
      searched = { ingredientId: temp.ingredientId, name: searched.name, unit: searched.unit, amount: searched.amount };

      //? debug 400
      /*ingrs.push({ ingredientId: temp.ingredientId, amount: searched.amount })

      await recipesStore.changeRecipe(myProps.recipe.recipeId, {
        name: myProps.recipe.name,
        introduction: myProps.recipe.introduction,
        steps: myProps.recipe.steps,
        ingredients: ingrs
      });
      */

      // adde neue ingr
      await recipesStore.addExistingIngredientToRecipe(myProps.recipe.recipeId, searched.ingredientId, { amount: searched.amount });

      await redundancyStore.refreshDataLoad();
    }
    // braucht alle drei
    await ingredientsStore.axiosSyncAllIngredients();
    await recipesStore.axiosSyncRecipes();
    await redundancyStore.refreshDataLoad();
  }

}


function maintainIngredient(ingredient) {

  router.push('/maintain/' + myProps.recipe.recipeId + '/ingredients/' + ingredient.ingredientId);
}



</script>
